# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv/
env/
venv/
ENV/

# Databases & SQLite files
*.db
*.sqlite
*.sqlite3

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS specific files
.DS_Store
Thumbs.db
